/* --- inner page contacts --- */
.inner-page-contacts {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #F2F8F6;
    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 66px;
        padding-bottom: 60px;
    }
    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.contacts-header {
    margin-bottom: 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 47px;
    }

    /* Mobile */
    @media (max-width: 899px) {
    margin-bottom: 30px;
    }
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Tablet */
    @media (max-width: 1199px) {
        flex-direction: column;
        row-gap: 36px;
    }
    /* Mobile */
    @media (max-width: 899px) {
        row-gap: 35px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        row-gap: 36px;
    }
}

.contact-info {
    width: 470px;
    /* Tablet */
    @media (max-width: 1199px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: column;
        row-gap: 42px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        row-gap: 33px;
    }
}

.contact-block {
    /* Tablet */
    @media (max-width: 1199px) {
        width: 420px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}

.contact-block-map {
    width: 470px;
    height: 345px;
    /* Tablet */
    @media (max-width: 1199px) {
        width: 420px;
        height: 310px;
    }
    /* Mobile */
    @media (max-width: 899px) {
        width: 570px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
        height: 157px;
    }
}

.contact-block + .contact-block {
    margin-top: 40px;
    /* Tablet */
    @media (max-width: 1199px) {
        margin-top: 0;
    }
}

.contact-block-title {
    color: #31405B;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 24px;
        margin-bottom: 25px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 20px;
        margin-bottom: 17px;
    }
}

.contact-list {
    font-size: 20px;
    line-height: 1.6;
    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 18px;
    }
    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 16px;
        line-height: 1.3;
    }

    & a {
        color: #138ECE;
        text-decoration: none;
    }
}

.contact-list-icon {
    position: relative;
    margin-bottom: 15px;
    padding-left: 39px;
    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 20px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    &::before {
        display: block;
        content: ' ';
        width: 24px;
        height: 24px;
        top: 5px;
        left: 0;
        position: absolute;
    }
}


.contact-list-icon.phone::before {
    background-image: url('./../img/icons/phone.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-list-icon.email::before {
    background-image: url('./../img/icons/mail.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-list-icon.adress::before {
    background-image: url('./../img/icons/map-pin.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
}