.main-content-header {
  margin-bottom: 20px;
} 

.header {
  position: relative;
  height: 800px;  
  padding-top: 50px;
  color: #FFF;
  background-image: url('../img/header/header.jpg'); 
  background-position: center;
  background-size: cover;
  background-color: rgba(38, 88, 71, 1);
  /* Tablet */
  @media (max-width: 1199px) {
    height: 591px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100px;  
  color: #FFF;
  background-image: url('../img/header/header-inner.jpg'); 
  background-position: center;
  background-size: cover;
  background-color: rgba(38, 88, 71, 1);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 100%;
    padding: 0 15px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    width: 320px;
  }
}

.header-nav .header-nav-link{
  color: #FFF;
  font-size: 22px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;

  /* Tablet */
  @media (max-width: 1199px) {
    display: none;
  }
}

.header-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-menu-img {
  cursor: pointer;
  display: none;
  /* Tablet */
  @media (max-width: 1199px) {
    display: block;
    padding: 0;
  }
}

.header-top, .header.content {
  /* Mobile */
  @media (max-width: 899px) {
    width: 100%;
  }
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 1170px;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 900px;
    padding: 0 15px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    width: 100%;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    width: 320px;
  }
}

.header-title {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 1;
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 42px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.header-text {
  font-size: 24px;
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 22px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 18px;
  }
}

.header-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
  display: inline-block;
  width: 85px;
  height: 55px; 

  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #FFF;

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 0;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";

    background-image: url('../img/header/arrow-down.svg');
    width: 21px;
    height: 24px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

/* Header для внутренних страниц */
.header-inner {
  /* Tablet */
  @media (max-width: 1199px) {
    max-width: 100%;
  }
  /* Mobile */
  @media (max-width: 899px) {
    height: 80px;
  }
}

.inner-page-tours-header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 46px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    margin-bottom: 30px;
  }
}