.main {
  padding: 120px 0;
  /* Tablet */
  @media (max-width: 1199px) {
    padding: 80px 0;
  }
  /* Mobile */
  @media (max-width: 899px) {
    padding: 60px 0;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    padding: 40px 0;
  }
}

.main .container {
  /* Mobile XS */
  @media (max-width: 599px) {
    width: 100%;
  }
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 80px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  &:nth-child(even){
    flex-direction: row-reverse;
  /* Mobile XS */
  @media (max-width: 599px) {
    flex-direction: column-reverse;
    }
  }
}

.main-row:last-child {
  margin-bottom: 0;
}

.main-content {
  width: 470px;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 420px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    width: auto;
  }
}

.main-text {
  font-size: 20px;
  line-height: 1.6; 
  margin-bottom: 40px;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    font-size: 16px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 16px;
  }
}

.main-text p {
  margin-top: 0;
  margin-bottom: 15px;
}

.main-text a {
  color: #138ECE;
  text-decoration-line: underline;
}

.main-content .button {
  color: #FFF;
}

.main-img {
  width: 570px;
  /* Tablet */
  @media (max-width: 1199px) {
    width: 420px;
      height: 362px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    width: 170px;
    flex-shrink: 0;
    margin-right: 30px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  /* Mobile XS */
  @media (max-width: 599px) {
    width: 100%;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

