.real-radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  
  margin-right: 15px;
  vertical-align: text-top;
  border: 1px solid rgba(192, 192, 192, 1);
  background-color: rgba(238, 238, 238, 1);

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(42, 182, 152, 1);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in;
  }
}

.real-radio:focus + .custom-radio {
  box-shadow: 0 0  0px 2px #333;
}

.real-radio:checked + .custom-radio::after {
  display: block; 
  transform: translate(-50%, -50%) scale(1);
}